html {
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(219,218,236,1) 100%);
    width: 100%;
}
body, ul, li {
    margin: 10px;
    padding: 0px;
    font-size: 1.2rem;
}

.header {
    background-color: rgba(211, 211, 211, 0.616);
    display: flex;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 4px 25px;
}
.footer {
    background-color: lightgray;
    padding: 40px;
    align-items: center;
    margin-top: 7.5%;
}

.footer h3 {
    text-align: center;
    margin: 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    font-size: large;
}


nav ul li {
    list-style: none;
    margin-left: 20px;
    font-weight: bolder;
}

.links {
    transition: all .2s ease-in-out;
}

.links:hover {
    transform: scale(1.1, 1.1);
}

.links:hover {
    color:rgb(10, 10, 255);
}


.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menunav {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#input_container {
    position:relative;
    padding:0 0 0 20px;
    margin:0 20px;
    align-items: center;
    width: 200px;
    bottom: 6px;
}


.pesquisar {
    float: left;
    margin-left: 100%;
    border-radius: 10px;
    border: none;
    padding: 2%;
    text-align: center;
    font-size: 16px;
    transition: ease-in-out 0.2s;
}
.pesquisar:focus {
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 0px;
    outline: none;
}
#input_img {
    position:absolute;
    bottom:10px;
    float: left;
    width:12px;
    right: -15px;
    height:12px;
    pointer-events: none;
    transition: ease-in-out 0.2s;
}

[type="search"]:focus ~ #input_img {
    opacity: 0%;
}

.pesquisar::-webkit-search-cancel-button{
    -webkit-appearance: none;
    -webkit-user-modify: read-write;
    content:url(imgs/x.svg);
    width: 25px;
}


.repgithub {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(200, 200, 200, 0.8) 0%, rgba(200, 200, 200, 0.2) 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 5px 4px 25px;
}

.gittitle {
    text-align: center;
    font-size: 250%;
    font-weight:bolder;
    color: rgb(17, 17, 49);
}

.ulgit {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%;
}

#iconearquivo {
    width: 50px;
    display: inline-flex;
    align-items: center;
    pointer-events: none;
}

.reposits {
    font-weight: bold;
    text-align:left;
    display: flex;
    align-items: flex-start;

}

.pgit {
    max-width: 400px;
    text-align: justify;
}

#navmobile {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 900px) {

    html {
        width: 100%;
    }
    .pesquisar {
        display: none;
    }
    #input_img {
        display: none;
    }
    .menunav {
        justify-content: space-evenly;
    }

    .links {
        font-size: medium;
        font-weight: 300;
    }

    .imgperfil {
        max-width: 50%;
        margin-left: 15%;
    }

    .nomeperfil {
        font-size:larger;
        margin-left: -20%;
        margin-top: 70%;
        text-align: center;
    }

    .objetivos {
        width: 80%;
        font-size:20px;
        margin-left: 0%;
    }

    .redes {
        margin:0%;
        margin-left: 20%;
    }
    .social-icon {
        margin-top: 10px;
        margin-left: 12%;

    }
    .lirec {
        width: 100%;
        line-height: 250%;
    }

    .prep {
        line-height: 100%;
    }

    .menunav {
        display: none;
    }
    #navmobile {
        display: block;
        font-weight:bold;
    }
    .header {
        margin-bottom: 0px;
    }

    a.maisproj {
        margin: 0px 0px 40px 14px;
    }

    a.maisexp {
        margin: 50px 0px 25px 14px;
    }

    .legendaexp {
        display: block;
        position:unset;
        margin-top: 5%;
        margin-left: 10px;
        margin-bottom: 10%;
    }

    a.maisrep {
        margin: 0px 0px 5px 14px;
    }

    .imagens {
        padding-left: 0%;
    }

    .exp {
        margin-bottom: 0%;
    }

    .cargo {
        margin-left: auto;
        margin-right: auto;
    }

    .cargolegenda {
        max-height: 0%;
    }

    .gittitle {
        font-size: 200%;
    }

}
